@keyframes tonext {
  75% {
    left: 0;
  }
  95% {
    left: 100%;
  }
  98% {
    left: 100%;
  }
  99% {
    left: 0;
  }
}


/*@keyframes tostart {
    75% {
      left: 0;
    }
    95% {
      left: -300%;
    }
    98% {
      left: -300%;
    }
    99% {
      left: 0;
    }
  }*/
  
  @keyframes snap {
    96% {
      scroll-snap-align: center;
    }
    97% {
      scroll-snap-align: none;
    }
    99% {
      scroll-snap-align: none;
    }
    100% {
      scroll-snap-align: center;
    }
  }
  
  .carousel__viewport::-webkit-scrollbar {
    width: 0;
  }
  
  *::-webkit-scrollbar-track {
    background: transparent;
  }
  
  *::-webkit-scrollbar-thumb {
    background: transparent;
    border: none;
  }
  
  * {
    -ms-overflow-style: none;
  }
  
  ol, li {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .carousel {
    position: relative;
    padding-top: 60rem;
    perspective: 10rem;
  }
  
  .carousel__viewport {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    overflow-x: scroll;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
  }
  
  .carousel__slide {
    position: relative;
    flex: 0 0 100%;
    width: 100%;
  }
  
  .carousel__slide:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%,-40%,70px);
    color: #fff;
    font-size: 2em;
  }
  
  .carousel__snapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    scroll-snap-align: center;
  }
  
  @media (hover: hover) {
    .carousel__snapper {
      animation-name: tonext, snap;
      animation-timing-function: ease;
      animation-duration: 4s;
      animation-iteration-count: 2;
    }
  
    /*.carousel__slide:last-child .carousel__snapper {
      animation-name: tostart, snap;
    }
  }
  
  @media (prefers-reduced-motion: reduce) {
    .carousel__snapper {
      animation-name: none;
    }*/
  }
  
  .carousel:hover .carousel__snapper,
  .carousel:focus-within .carousel__snapper {
    animation-name: none;
  }
  
  .carousel__navigation {
    position: absolute;
    right: 0;
    bottom: -4rem;
    left: 0;
    text-align: center;
  }
  
  .carousel__navigation-list,
  .carousel__navigation-item {
    display: inline-block;
  }
  
  .carousel__navigation-button {
    display: inline-block;
    width: 2.4rem;
    height: 2.4rem;
    background-color: #fff;
    background-clip: content-box;
    border: 0.25rem solid transparent;
    border-radius: 50%;
    font-size: 0;
    transition: transform 0.1s;
  }
  
  .carousel::before,
  .carousel::after,
  .carousel__prev,
  .carousel__next {
    position: absolute;
    top: 50%;
    width: 8rem;
    height: 8rem;
    transform: translateY(-50%);
    outline: 0;
  }
  
  .carousel::after,
  .carousel__next {
    right: 1rem;
  }
  
  .carousel::before,
  .carousel::after {
    content: '';
    z-index: 1;
    background-size: 5rem 5rem;
    background-repeat: no-repeat;
    background-position: center center;
    color: #fff;
    pointer-events: none;
  }
  
  .carousel::before {
    background-image: url("../images/icons/avançar\ -\ esquerda.png");
  }
  
  .carousel::after {
    background-image: url("../images/icons/avançar\ -\ direita.png");
  }

/*-------------------------------------------------------------*/

main {
    background-color: #ffc501;
    padding-top: 15rem;
    padding-bottom: 8rem;
}

.section {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4rem;
}

.user-image {
    width: 100%;
    max-width: 20rem;
}

.name {
    font-size: 5rem;
    font-weight: 900;
    color: #000;
    text-align: right;
}

.name small {
    font-size: 1.5rem;
    font-weight: 500;
    display: block;
}

.quotes {
    font-size: 5rem;
    font-weight: 900;
    max-height: 2rem;
}

.text {
    max-width: 70rem;
    font-size: 2.5rem;
    font-weight: 400;
    color: #000;
    text-align: center;
    text-wrap: pretty;
    padding: 0.2rem;
}

@media screen and (max-width: 800px) {
  .user-image {
    max-width: 16rem;
  }

  .name {
    font-size: 3rem;
    text-align: center;
  }

  .quotes {
    font-size: 4rem;
  }

  .text {
    font-size: 1.6rem;
    max-width: 50rem;
  }
}

@media screen and (max-width: 500px) {
  header h2 {
  font-size: 0.1rem;
}
  
  .user-image {
    max-width: 14rem;
  }

  .name {
    font-size: 2.4rem;
  }

  .name small {
    font-size: 1rem;
  }

  .quotes {
    font-size: 3rem;
  }

  .text {
    font-size: 1.4rem;
    max-width: 30rem;
  }

  .carousel__navigation-button {
    width: 1.8rem;
    height: 1.8rem;
  }
}



  