header {
    background: url(../image2/microfone.png) lightgray 50% / cover no-repeat;
    margin-top: -90px;
    width: 100%;
    height: 564px;
    flex-direction: column;
    display: flex;
    align-items: end;
}

header>.frase {
    margin-top: 16.4rem;
    margin-right: 67.4rem;
    color: #FFC501;
    font-family: Montserrat;
    font-size: 2rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.div1>h2 {
    margin-right: 32.6rem;
    color: #FFC501;
    font-family: Montserrat;
    font-size: 9rem;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
}

.div1>.lorem {
    color: #fff;
    font-family: Montserrat;
    font-size: 2rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}